head {
font-family: helmet-neue;
}

body {
background-image: url('https://d3isma7snj3lcx.cloudfront.net/images/photos/30/50/75/79/ME3050757949_2.jpg');
width: 1900px;
height: 1400px;
background-repeat: no-repeat;
}
