@font-face {
   font-family: 'Tommy Soft Medium';
   font-display: swap;
   src: url('file:///C:/Users/Limeen/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-26_215346/fonts/Tommy%20Soft%20Medium/font.woff2');
}
