@font-face {
   font-family: 'Tommy Soft Medium';
   font-display: swap;
   src: url('Tommy Soft Medium/font.woff2');
}
@font-face {
   font-family: 'MADE-Tommy-Soft-Regular-PERSONAL-USE';
   font-display: swap;
   src: url('MADE-Tommy-Soft-Regular-PERSONAL-USE/font.woff');
}
